{%  extends 'base.html' %}

{% block content %}
<html lang="pl">
    <meta charset="utf-8">
  <head>
      <title>{{ animal.name }}</title>
  </head>
     <body>
{#     <form action="" method="POST">#}
{#            {% csrf_token %}#}
{#    {% if user.is_authenticated %}#}
{#            <a href='/animals/{{ animal.id }}/admission/'>Dodaj dane dotyczące przyjęcia {{ animal.name }} </a>#}
{#            <a href='/animals/{{ animal.id }}/outcome/'>Dodaj dane dotyczące wydania</a>#}
{#            <a href='/animals/{{ animal.id }}/healthcare/'>Dodaj dane dotyczące stanu zdrowia</a>#}
{#            <a href='/animals/{{ animal.id }}/update/'>Edytuj dane zwierzaka</a>#}
{#            <a href='/animals/{{ animal.id }}/{{admission.id}}/'>Edytuj dane przyjęcia</a>#}
{#            <a href="{% url 'logout' %}">Wyloguj</a>#}

    <div id="strona">
        <div id="naglowek"><h1>Poznaj naszego podopiecznego</h1></div>
        <div id="lewa"><p> <img src = "../static/images/{{ animal.name }}" class="card-img-top adopted" alt="..."></p></div>
        <div id="prawa"><p></p>
        <div class="ml-3 mt-3">
            <strong>{{ animal.name }}</strong><br>
            <table>
                <tr><td> Rasa: </td><td>{{ animal.breed }}</td></tr>
                <tr><td> Data urodzenia: </td><td>{{ animal.date_of_birth |date:"d.m.Y"}} r.</td></tr>
                <tr><td> Kolor umaszczenia: </td><td>{{ animal.color }}</td></tr>
                <tr><td> Płeć: </td><td>{{ animal.gender }}</td></tr>
                {% if animal.is_active == True %}
                    <tr><td> Dostępny do adopcji: </td><td> Tak </td></tr>
                {% else %}
                    <tr><td> Dostępny do adopcji: </td><td> Nie </td></tr>
                {% endif %}
                <tr><td> W schronisku od:</td><td>
                    {% for admission in object.admission_set.all %}
                        {{ admission.admission_date |date:"d.m.Y" }} r.
                    {% endfor %} </td></tr>
            </table>
        </div>
            <div id="stopka">W sprawie adopcji zapraszamy do kontaktu telefonicznego</div>
        </div>
    </div>
     </body>
</html>
{% endblock %}