{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block content %}

        <div class="border-top pt-3" style="text-align:right;">
            <a href="{% url 'new_animal' %}">Dodaj nowe zwierzę</a>
                <a href="{% url 'logout' %}">Wyloguj się</a>
        </div>

<div class="border-top pt-3" style="text-align:center;">
        <h3>Witamy w  Panelu administracyjnym</h3>

    </div>

    <div class="border-top pt-3" style="text-align:center;">
        <h3>Lista zwierząt ujętych w ewidencji schroniska:</h3>
    <p></p>
    </div>

    <div style="text-align:center;">
        <table style="text-align:center; width: 1700px; height: 300px;">
        <thead>
        <tr class="d-flex text-color-darker">
            <th scope="col" class="col-1 left">Lp.</th>
            <th scope="col" class="col-2 center">IMIĘ</th>
            <th scope="col" class="col-2 center">PRZYBLIŻONY WIEK</th>
            <th scope="col" class="col-2 center">RASA</th>
            <th scope="col" class="col-2 center">PŁEĆ</th>
            <th scope="col" class="col-2 center">UMASZCZENIE</th>
            <th scope="col" class="col-2 center">PRZEBYWA W SCHRONISKU</th>
            <th scope="col" class="col-2 center">CHIP</th>

        </tr>
        </thead>
            {% for animal in object_list %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href= "/animals/{{ animal.id }}"> {{ animal.name }}</a></td>
            <td>{{ animal.date_of_birth | timesince| cut:','}}</td>
            <td>{{ animal.breed }}</td>
            <td>{{ animal.gender }}</td>
            <td>{{ animal.color }}</td>
             {% if animal.is_active == True %}
                    <td> Tak </td>
                {% else %}
                    <td> Nie </td>
                {% endif %}
                {% if animal.chip_number == none %}
                    <td> Brak </td>
                {% else %}
                   <td>{{ animal.chip_number }}</td>
                {% endif %}
            {% endfor %}
        <tr>
        </table>

    </div>


            <div style="text-align:center;">
                <div class="col d-flex justify-content-center mb-2 noPadding">
                <form>
                    {% if page_obj.has_previous %}
                        <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="{{ page_obj.previous_page_number }}" name="page">< poprzednia</button>
                    {% endif %}
                        <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="{{ page_obj.number }}" name="page">{{ page_obj.number }}</button>
                    {% if page_obj.has_next %}
                        <button type="submit" class="btn btn-success rounded-0 pt-0 pb-0 pr-4 pl-4" value="{{ page_obj.next_page_number }}" name="page">następna ></button>
                    {% endif %}
                </form>
                </div>
            </div>
{% endblock %}