{%  extends 'base.html' %}

{% block content %}
    <div class="content-section">
        <form method="POST">
        {% csrf_token %}
            <table>
                <tr><th><label for="id_username">Użytkownik:</label></th><td><input type="text" name="username" maxlength="150" required id="id_username"><br><span class="helptext">Wymagane jedynie litery, cyfry i @/./+/-/_.</span></td>
                <tr><th><label for="id_email">Adres email:</label></th><td><input type="email" name="email" maxlength="254" id="id_email"></td></tr>
                <tr><th><label for="id_first_name">Imię:</label></th><td><input type="text" name="first_name" maxlength="150" id="id_first_name"></td></tr>
                <tr><th><label for="id_last_name">Nazwisko:</label></th><td><input type="text" name="last_name" maxlength="150" id="id_last_name"></td></tr>
                <tr><th><label for="id_password">Password:</label></th><td><input type="password" name="password" required id="id_password"></td></tr>
                <tr><th><label for="id_confirm_password">Confirm password:</label></th><td><input type="password" name="confirm_password" required id="id_confirm_password"></td></tr>
            </table>
            <input type="submit" value="Utwórz konto">
        </form>
    </div>

{% endblock %}
